/*   Link Start    */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');
/*   Link End     */


*{
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}
html{
    scroll-behavior: smooth;
}
body{
    background: #f5f5f5;
}
a{
    text-decoration: none;
}
#navShadow{
    box-shadow: 2px 2px 10px rgb(230 230 230);
}

/*card Section */
img.card-img-top {
    border-radius: 20px 20px 0px 0px;
}
p.display-block {
    font-size: 15px;
}
h2.sectionTitle {
    font-weight: bold;
}
div#underLineProject {
    display: flex;
    justify-content: center;
}
.underLine {
    width: 124px;
    height: 3px;
    background: #ffc107;
}
div#Scard {
    border-radius: 24px;
    box-shadow: 2px 2px 10px rgb(230 230 230);
}
div#Scard {
    border-radius: 24px;
    border: #82838645 solid 1px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
}
div#Scard:hover{
    transform: translatey(-5px);
    border-bottom: solid #82838645 1px;
    border: solid #292727 1.5px;
}
div#Scard:hover{
    transform: translatey(-5px);
    border-bottom: solid #82838645 1px;
}
.sources p {
    font-size: 11px;
    color: #858585;
    margin-left: 4px;
}
span.sources-tag {
    background: #ffc107;
    width: 2px;
    height: 11px;
    position: absolute;
    margin-top: 1px;
}
a.card-link.stretched-link {
    text-decoration: none;
    font-weight: bold;
    color:#000000b0;
}

/**/

/* foooter */
#footers{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ff962d;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



